# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files
.env*

# vercel
.vercel

# next.js build output
.next/
out/
dist/
.next-check

# typescript
*.tsbuildinfo
next-env.d.ts

# build artifacts / logs
build.log
/build
dev-server*.log
dev*.log
npm-install*.log
output.html